.submitButton {
  height: 3.25rem;

  background-color: #2f34ab;

  border: none;
  border-radius: 0.5rem;

  color: #f1f2f6;

  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;

  margin-top: 3rem;
  outline: 0;
}

.submitButton:hover {
  background-color:#4a5dcd;
}

.submitButton:focus {
  outline: 1.5px solid #4a5dcd;
}

.reset {
  background-color:transparent;
  margin:0;
  padding: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
}

.degrease{
  animation: resetDegrease 0.4s linear;
}

.reset:hover {
  cursor:pointer;
}

.reset:focus {
  outline: none;
}

@keyframes resetDegrease {
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}